//fonts
$font-main: 'Proxima Nova', sans-serif;
$font-dm-sans: 'DM Sans', sans-serif;
$font-outfit: 'Outfit', sans-serif;

//breakpoint
$width-sm: 767px;
$width-md: 1100px;
$width-lg: 1200px;

//colors
$cl-background: #FFFFFF;
$cl-background-green: #00CA14;
$cl-background-black: #000000;

//color fonts
$cl-font-black: #000000;
$cl-font-helper: #121826;
$cl-font-placeholder: #6C727F;
$cl-font-white: #FFFFFF;
$cl-font-orange: #FF8D24;
$cl-font-green: #01C120;

//color buttons
$cl-button-bg-disabled: #D2D2D2;
$cl-button-bg-black: #000000;
$cl-button-bg-yellow: #FEC538;
$cl-button-bg-yellow-hvr: #FFDA80;
$cl-button-bg-white: #ffffff;

$cl-input-border: #D2D5DA;
$cl-input-font: #6C727F;;

$cl-valid: #00CA14;
$cl-error: #FF0000;

$cl-border: #CDCDCD;

